<head>
    <meta name="title" property="og:title" content="Nick Miller" />
    <meta name="description" property="og:description" content="Nick Miller is
    a full-stack software engineer based in Los Angeles, CA and co-creator of the
    Nami serverless framework.">
    <meta name="type" property="og:type" content="website" />
    <meta name="url" property="og:url" content="https://nickmiller.io" />
    <meta name="image" property="og:image" content="{{ '/assets/images/square_nick.jpeg' | relative_url }}" />
    <meta name="author" content="Nick Miller">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Nick Miller</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/images/favicon.ico' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/apple-touch-icon.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/images/favicon-32x32.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/images/favicon-16x16.png.png' | relative_url }}">
    <link rel="manifest" href="{{ '/assets/site.webmanifest' | relative_url }}">
  </head>
