<header>

  <div class="inner-header">
    <div class="header-links"></div>

    <nav class="header-icons">
      <a class="icon header-icon-link" href="https://github.com/NickMiller11" target="_blank">
        <img class="github" src="{{ '/assets/github.png' | relative_url }}"></img>
      </a>
      <a class="icon header-icon-link" href="https://www.linkedin.com/in/nick-miller-1b61a34b" target="_blank">
        <img class="linkedin" src="{{ '/assets/linkedin.png' | relative_url }}"></img>
      </a>
      <a class="icon header-icon-link" href="{{ '/assets/NickMillerResume.pdf' | relative_url }}" target="_blank">
        <img class="resume" src="{{ '/assets/resume.png' | relative_url }}"></img>
      </a>
    </nav>
  </div>
</header>
