<header>
  <img src="{{ '/assets/images/circle_nick.png' | relative_url }}" alt="Nick Miller" class="nick"/>
  <h1>Hi, I'm Nick</h1>
  <p>I'm a software engineer in Los Angeles.</p>
  <br />
  <p>
    I'm a co-creator of
    <a href="https://nami-serverless.github.io/" target="_blank" class="nami-link">Nami</a>
    , a serverless framework designed to consume webhooks at scale, built using Node.js and AWS services.
  </p>
  <br />
  <p>
    <a href="#more-about-me">More about me</a>.
  </p>
</header>
