<nav>
  <p>Nick Miller</p>
  <ul>
    <li>
      <a href='https://nami-serverless.github.io/' target='_blank'>
        <img src="{{ '/assets/images/nami_logo_mark_only.png' | relative_url }}" class='social-icon' />
      </a>
    </li>
    <li>
      <a href='https://github.com/NickMiller11' target='_blank'>
        <img src="{{ '/assets/images/github.png' | relative_url }}" class='social-icon' />
      </a>
    </li>
    <li>
      <a href='https://www.linkedin.com/in/nick-miller-1b61a34b' target='_blank'>
        <img src="{{ '/assets/images/linkedin.png' | relative_url }}" class='social-icon' />
      </a>
    </li>
    <li>
      <a href='mailto:hello@nickmiller.io' target='_blank'>
        <img src="{{ '/assets/images/email.png' | relative_url }}" class='social-icon' />
      </a>
    </li>
    <li>
      <a href="{{ '/assets/documents/NickMillerResume.pdf' | relative_url }}" target='_blank'>
        <img src="{{ '/assets/images/resume.png' | relative_url }}" class='social-icon' />
      </a>
    </li>
  </ul>
</nav>
