/* ========================

           General

   ======================== */

html {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

h1 {
  font-size: 1.7rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.4rem;
  margin-bottom: 30px;
}

a {
  color: #000000;
}

.nami-link {
  color: #33c5ff;
  text-decoration: none;
}

.nami-link:hover {
  color: #5262ff;
}


p,
img {
  margin-bottom: 50px;
}

em {
  font-weight: bold;
  font-style: italic;
}

/* ========================

            Nav

   ======================== */

nav {
  background-color: #fff;
  padding: 20px 0 15px 0;
  position: fixed;
  text-align: right;
  width: 100%;
  z-index:2;
}

nav li {
  display: inline-block;
  padding-right: 30px;
  font-size: 0.6rem;
}

nav p {
  left: 30px;
  position: fixed;
  font-size: 1.5em;
  font-weight: 700;
  top: 18px;
}

nav li:last-of-type {
  padding-right: 40px;
}

.social-icon {
  margin-bottom: 0;
  width: 30px;
}

.social-icon:hover {
  opacity: 0.5;
}

nav li:first-of-type .social-icon {
  vertical-align: -3px;
  width: 35px;
}

/* ========================

          Header

   ======================== */

header {
  background-color: #e6e7e7;
  color: #000;
  padding: 180px 200px 200px 200px;
}

header h2 {
  font-weight: normal;
}

header p {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.nick {
  float: left;
  margin: 13px 60px 100px 0;
  width: 300px;
}

/* ========================

        Section

   ======================== */

section {
  clear: both;
}

section > div {
  background-color: #e6e7e7;
  padding: 80px 100px;
}

/* ========================

            Nami

   ======================== */

.nami {
  background-color: #fff;
  padding-bottom: 50px;
}

.nami h2 {
  font-size: 1.7em;
  margin-bottom: 60px;
  text-align: center;
}

.nami p:not(:first-of-type) {
  margin-bottom: 20px;
}

.nami-deploy {
  background-color: #282828;
  border: 10px solid #282828;
  border-radius: 10px;
  height: 300px;
  margin-bottom: 0;
  max-width: 600px;
  width: 100%;
}

.nami a button {
  background: linear-gradient(0.25turn, #5262ff, #60dcc7);
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 50px;
  margin-top: 20px;
  padding: 16px 16px;
  text-transform: uppercase;
}

.nami a button p {
  margin-bottom: 0;
}

.button:hover p {
  background-image: linear-gradient(0.25turn, #5262ff, #60dcc7);
  color: transparent;
  background-clip: text;
}

.button:hover {
  border-radius: 15px;
  background: #fff;
  color: #33c5ff;
  border-image: linear-gradient(0.25turn, #5262ff, #60dcc7) 2;
}

.presentation a {
  color: #fbf1c7;
}

.nami > div {
  width: 45%;
}

.nami > div:first-of-type {
  float: left;
}

.nami > div:last-of-type {
  float: right;
}

.nami:after {
  clear: both;
  content: "";
  display: block;
}

/* ========================

      Presentation

   ======================== */


.presentation {
  background-color: #5262ff;
  color: #fff;
}

.presentation-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.box h2 {
  font-size: 1.7em;
  margin-bottom: 60px;
}

.box {
  flex: 1.5;
}

.youtubevideowrap {
  flex: 2;
  margin: 0 auto;
  max-width: 640px;
  padding-left: 100px;
  width: 80%;
}

.video-container {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
}

.video-container iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* ========================

      More About Me

   ======================== */

.more-about-me {
  padding-top: 100px;
}

.more-about-me div {
  width: 45%;
}

.more-about-me div:first-of-type {
  float: left;
  margin-right: 40px;
}

.more-about-me div:last-of-type {
  float: right;
}

.more-about-me:after {
  clear: both;
  content: "";
  display: block;
}

/* ========================

          Mobile

   ======================== */

@media (max-width: 1150px) {
  .nick {
    width: 200px;
  }

  nav p {
    display: none;
  }

  nav li:last-of-type {
    padding-right: 0;
  }

  header {
    padding: 145px 100px 100px 100px;
  }

  header p {
    font-size: 1rem;
  }

  section > div {
    padding: 80px;
  }

  nav {
    text-align: center;
  }

  .nami {
    padding-bottom: 80px;
  }

  .nami > div {
    clear: both;
    width: 100%;
  }

  .box h2 {
    text-align: center;
  }

  .presentation-flex {
    display: flex;
    flex-direction: column;
  }

  .box {
    flex: 1;
  }

  .youtubevideowrap {
    flex: 3;
    padding-left: 0;
  }

  .video-container iframe,
  .video-container object,
  .video-container embed {
    max-width: 560px;
  }
}


@media (max-width: 900px) {
  .nick {
    display: none;
  }

  .more-about-me div {
    margin-right: 0;
    width: 100%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 16px;
  }

  .nami-deploy {
    height: 40vw;
  }

  .button {
    font-size: 0.7rem;
  }

  .social-icon {
    width: 20px;
  }

  nav li:first-of-type .social-icon {
    vertical-align: -4px;
    width: 25px;
  }

  header {
    padding: 100px 50px 60px 50px;
  }

  header h2 {
    font-size: 1.1rem;
  }

  section > div {
    padding: 50px;
  }

  nav li {
    padding-right: 35px;
  }

  nav li:last-of-type {
    padding-right: 0;
  }



  .more-about-me {
    padding-top: 50px;
  }

  .more-about-me div:first-of-type {
    display: none;
  }
}

@media (max-width: 568px) {
  html {
    font-size: 12px;
  }

  header {
    padding-top: 90px;
  }

  p, h2 {
    margin-bottom: 20px;
  }

  .nami {
    padding-bottom: 50px;
  }

  .button {
    margin-bottom: 0;
  }
}
