
<!DOCTYPE html>
<html lang="en-US">

	{% include head.html %}

	<body>
    {% include nav.html %}
    <main>
		  {% include header.html %}

      <section>
        <div class="nami">
          <h2>Nami</h2>
          <div>
            <p>Nami is an open-source, serverless framework for consuming webhooks at scale. </p>
            <p>Built with Node.js, Docker, MongoDB, and AWS services, Nami accomodates bursty webhook traffic by using AWS Lambda functions to automatically scale compute resources. </p>
            <!-- <p>
              <a href="https://youtu.be/SJV7HdhVHkU" class="nami-link" target="_blank">Watch me present Nami</a> at Community Hack Night in Santa Monica.
            </p> -->
            <a href="https://nami-serverless.github.io/" target="_blank">
              <button class="button">
                <p>Read Case Study</p>
              </button>
            </a>
          </div>

          <div>
            <img src="{{ '/assets/images/NamiDeploy.gif' | relative_url }}" alt="Nami" class="nami-deploy"/>
          </div>
        </div>

        <div class="presentation">
          <div class="presentation-flex">
            <div class="box">
              <h2>Tech Talk</h2>
              <p>I presented my journey on building Nami for <strong>Community Hack Night</strong> on May 13, 2019.</p>
            </div>

            <div class="youtubevideowrap">
              <div class="video-container">
                <iframe
                  width="560"
                  height="315"
                  src="https://www.youtube.com/embed/qIex2IK7F0c?rel=0"
                  frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>
                </iframe>
              </div>
            </div>

          </div>
        </div>

        <div class="more-about-me">
          <div>
            <h2>Other Projects</h2>
            <ul>
              <li>
                <h3>Nello</h3>
                <p>
                  A Trello-like application built with <em>React/Redux</em> and <em>Ruby on Rails</em>
                  that enables users to create, edit, and delete boards.
                  Users can also create and modify lists and cards within boards.
                </p>
              </li>
              <li>
                <h3>Postit</h3>
                <p>
                  Reddit-like applications built using <em>Ruby on Rails</em> and <em>Javascript</em>.
                  Allows users to create, update, and delete posts.
                  Users can also create and login to their account, create comments, and vote on comments and posts.
                </p>
              </li>
              <li>
                <h3>Todo List</h3>
                <p>
                  <em>JavaScript</em> application providing users with a todolist featuring
                  a comprehensive set of features, including sorting and filtering.
                </p>
              </li>

            </ul>
          </div>
          <div>
            <h2>More About Me</h2>
            <p>I have several years experience with a variety of languages and
            technologies, including <em>Node.js</em>, <em>Ruby</em>, <em>PostgreSQL</em>, <em>React/Redux</em>, and <em>Rails</em>.</p>
            <p>I have spent a lot of time with <em>Amazon Web Services</em>, such as <em>Lambda, API
              Gateway, SQS,</em> and <em>EC2</em>.</p>
            <p>I have spent most of my adult life living and working in Japan, and
            can both speak and write Japanese fluently at a business level. I have
            worked in a variety of industries from finance to beer, and I thrive in environments where I
            have opportunities to contribute while learning new, interesting things.</p>
          </div>
        </div>
      </section>
    </main>



	</body>
</html>
